<div id="<%= dom_id extract %>">
  <p>
    <strong>User:</strong>
    <%= extract.user_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= extract.value %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= extract.type %>
  </p>

</div>
